<button (click)="onViewClick($event)" mat-icon-button class="example-icon" aria-label="Example icon-button with visibility icon">
    <mat-icon>visibility</mat-icon>
  </button>
  
  <button (click)="onEditClick($event)" mat-icon-button class="example-icon" aria-label="Example icon-button with edit icon">
    <mat-icon>edit</mat-icon>
  </button>
  <button (click)="onDeleteClick($event)" mat-icon-button class="example-icon" aria-label="Example icon-button with remove_circle_outline icon">
    <mat-icon>remove_circle_outline</mat-icon>
  </button>
  <button (click)="onAddClick($event)" mat-icon-button class="example-icon" aria-label="Example icon-button with remove_circle_outline icon">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
