<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- First Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Visits Column -->
    <ng-container matColumnDef="visits">
      <th mat-header-cell *matHeaderCellDef> Visits </th>
      <td mat-cell *matCellDef="let element"> {{element.visits}} </td>
    </ng-container>
  
    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
  
    <!-- Pcp Column -->
    <ng-container matColumnDef="pcp">
      <th mat-header-cell *matHeaderCellDef> PCP </th>
      <td mat-cell *matCellDef="let element"> {{element.pcp}} </td>
    </ng-container>
  
    <!-- Insurance Column -->
    <ng-container matColumnDef="insurance">
      <th mat-header-cell *matHeaderCellDef> Insurance </th>
      <td mat-cell *matCellDef="let element"> {{element.insurance}} </td>
    </ng-container>

    <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef> Payment </th>
        <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
            <button (click)="onViewPatient(element)" mat-icon-button class="example-icon" aria-label="Example icon-button with visibility icon">
                <mat-icon>visibility</mat-icon>
            </button>

            <button (click)="onEditPatient(element)" mat-icon-button class="example-icon" aria-label="Example icon-button with visibility icon">
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="onAddPatient()" mat-icon-button class="example-icon" aria-label="Example icon-button with visibility icon">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button (click)="onRemovePatient(element)" mat-icon-button class="example-icon" aria-label="Example icon-button with visibility icon">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
        </td>
    </ng-container>


  
    <tr mat-header-row *matHeaderRowDef="displayedColumnDefs"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnDefs;"></tr>
  </table>